body {
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 18px;
    justify-content: right;
    align-items: center;
    margin-bottom: 132px;
    padding: 16px 32px;
}

@media (max-height: 768px) {
    nav {
        margin-bottom: 92px;
    }
}

nav a {
    color: rgb(44, 44, 44);
    font-size: 12px;
}

.apps-icon {
    color: rgb(112, 112, 112);
}

.sign-in-button {
    background-color: #4387fd;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 2px;
    font-weight: bold;
}

.logo {
    display: block;
    margin: 0 auto 24px auto;
}

.search-bar-group {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 12px;
    align-items: center;    
    margin: 0 auto 30px auto;
    width: 600px;
    height: 44px;
    border: 1px solid #dfe1e5;
    padding: 0 14px;
    border-radius: 50px;
}

.search-bar {
    border: none;
}

.search-button-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 12px;
    justify-content: center;
    margin: 0 auto 32px auto;
}

.search-button-group button {
    background-color: #f0f0f0;
    color: #5F6368;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.language-options {
    text-align: center;
    font-size: 12px;
}

.language-options a {
    color: #1a0dab;
}

footer {
    background-color: #f0f0f0;
    color: #5F6368;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;

    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer a {
    color: inherit;
}

.location {
    border-bottom: 1px solid #e4e4e4;
    padding: 12px 32px;
}

.footer-link-group {
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;
}

.footer-link-group div {
    display: flex;
}

.footer-link-group div a:not(:last-child) {
    margin-right: 24px;
}